<h2>Add run</h2>
<form>
    <input type="name" ng-model="formData.name" placeholder="Name">
    <br>
    <label>Class</label>
    <select ng-model="formData.rating.low">
        <option value="0" selected>From</option>
        <option value="1">I</option>
        <option value="2">I+</option>
        <option value="3">II</option>
        <option value="4">II+</option>
        <option value="5">III</option>
        <option value="6">III+</option>
        <option value="7">IV</option>
        <option value="8">IV+</option>
        <option value="9">V</option>
        <option value="10">V+</option>
        <option value="11">VI</option>
    </select>
    <select ng-model="formData.rating.high">
        <option value="0" selected>To</option>
        <option value="1">I</option>
        <option value="2">I+</option>
        <option value="3">II</option>
        <option value="4">II+</option>
        <option value="5">III</option>
        <option value="6">III+</option>
        <option value="7">IV</option>
        <option value="8">IV+</option>
        <option value="9">V</option>
        <option value="10">V+</option>
        <option value="11">VI</option>
    </select>
    <br>
    <input type="number" ng-model="formData.level.low" placeholder="Lowest runnable level">
    <input type="number" ng-model="formData.level.high" placeholder="Highest runnable level">
    <select ng-model="formData.level.units">
        <option value="cfs" selected>CFS</option>
        <option value="ft">Feet</option>
        <option value="m">Meters</option>
    </select>
    <br>
    <select ng-model="formData.river_id">
        <option ng-repeat="river in rivers" value="{{ river._id }}">{{ river.name }} {{ river.size }}</option>
    </select>
    <select ng-model="formData.gauge_id">
        <option ng-repeat="gauge in gauges" value="{{ gauge._id }}">{{ gauge.river_object.name }} - {{ gauge.code }}</option>
    </select>
    <br>
    <input type="file" name="gpx" ng-model="formData.gpx" ng-file-select="onFileSelect($files)">
    <br>
    <button type="submit" ng-click="createRun()">Add</button>
</form>

