<label for="name">Name</label>
<input name="name" ng-model="object.name">
<br>
<label for="description">Description</label>
<textarea ng-model="object.description"></textarea>
<br>
<select ng-model="object.rating.low">
    <option value="0" selected>From</option>
    <option value="1">I</option>
    <option value="2">I+</option>
    <option value="3">II</option>
    <option value="4">II+</option>
    <option value="5">III</option>
    <option value="6">III+</option>
    <option value="7">IV</option>
    <option value="8">IV+</option>
    <option value="9">V</option>
    <option value="10">V+</option>
    <option value="11">VI</option>
</select>
<select ng-model="object.rating.high">
    <option value="0" selected>To</option>
    <option value="1">I</option>
    <option value="2">I+</option>
    <option value="3">II</option>
    <option value="4">II+</option>
    <option value="5">III</option>
    <option value="6">III+</option>
    <option value="7">IV</option>
    <option value="8">IV+</option>
    <option value="9">V</option>
    <option value="10">V+</option>
    <option value="11">VI</option>
</select>
<br>
<div ng-repeat="l in object.level">
    <input type="number" ng-model="l.low" placeholder="Lowest runnable level"> to
    <input type="number" ng-model="l.high" placeholder="Highest runnable level">
    <select ng-model="l.units">
        <option value="cfs" selected>CFS</option>
        <option value="ft">Feet</option>
        <option value="m">Meters</option>
    </select>
</div>
<select ng-model="object.river" ng-options="r._id as r.name for r in rivers"></select>
<select ng-model="object.gauge" ng-options="gauge._id as gauge.code for gauge in gauges">
    <option val="">-- choose gauge --</option>
</select>

